@inherits LayoutComponentBase
@using ApplicationManager.Frontend.Components
<div class="page">
    
    <HeaderComponent />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
